<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {{#block "head"}}
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  {{/block}}
</head>
<body>
  <div class="site">
  	<div class="site-hd" role="banner">
      {{#block "header"}}
        <h1>{{title}}</h1>
      {{/block}}
    </div>

    <div class="site-bd" role="main">
      {{#block "body"}}
        <h2>This tag will be overwritten if a "body" content is provided and without the attribute <strong>mode="append"</strong></h2>
      {{/block}}
    </div>

    <div class="site-ft" role="contentinfo">
      {{#block "footer"}}
        <small>&copy; 2013</small>
      {{/block}}
    </div>
  </div>

  {{#block "foot"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {{/block}}
</body>
</html>
